<div class="metawrapper" ng-controller="HomeController">


<!-- HERE IS THE CARDS -->
  <div class="container">
  <br><br>
    <div class="row">

      <div class="col s12 m7 l4" style="height: 190px;" id="cardcenter">
        <div class="card horizontal">
          <div class="card-image">
            <img src="http://lorempixel.com/100/190/nature/8">
         </div>
          <div class="card-stacked">
            <div class="card-content">
                  <p>Click the link below to create a new open request.</p>
            </div>
            <div class="card-action">
                  <a href="dashboard.newrequest">New Open Request</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<br><br>
<!-- DROP DOWN FROM HERE -->
  <!-- dropdown menus -->
  <div class="container">
    <!-- Dropdown Trigger -->
    <a class='dropdown-button btn light-blue darken-3' id="dropdownbutton" data-beloworigin="true" data-activates='dropdown1' ng-click="dropDown()">Places</a>

  <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="#!">one</a></li>
      <li class="divider"></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>

  </div>



<br><br>
  <!-- HERE DOWN IS THE USER LIST -->
  <div class="container">
    <div class="row">
      <div class="s6 col">

        <div class="collection">
            <a href="" class="collection-item" ng-repeat="u in users" ng-click="userModal()">
              <!-- <a href="#!" ng-click="modalDetails(u)" class="modal-trigger title"> -->
              <img ng-src="{{u.pictureUrl}}" alt="" class="circle">
              {{u.firstName}} {{u.lastName}}
            </a>
          <!-- </a> -->
        </div>


      </div>
    </div>
    <div id="modalDetails" class="modal bottom-sheet">
      <div class="modal-content">
        <div class="row">
          <div class="l2 col">
            <img ng-src="{{user.picture.medium}}" alt="" class="align-right circle">
          </div>
          <div class="l10 col">
            <h2>{{user.username}}</h2>
            <label>Email</label> {{u.email}} <br/>
            <hr>
            <label>Phone</label> {{u.phone}} <br/>
            <!-- <label>Location</label> {{user.location.city}}, {{user.location.state}} <br/> -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
